body {
    background-color: #fff9ea;
    height: 100%;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

#main {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25em;
    margin: 0 auto;
    width: 100%;
    flex: 1 0 auto;
}

#home {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3em;
    flex-grow: 1;
    margin-bottom: 10em;
 }
  
.bi {
    color: #C04E01;
    font-size: 1.3em;
    margin-left: 0.30em;
}

.bi:hover {
    color:  #631e50;
 }
 
a {
    color: #631e50;
}
 

a:hover {
    color:  #C04E01;
 }
 
.navbar, .navbar-nav, .nav-link{
    font-family: "Righteous", sans-serif; 
    font-size: 30px;
    overflow: hidden;
    display: flex;
    
    
}

@media only screen and (max-width: 950px) {
    .nav-link {
        font-size: .5em;
      }
      
}

ul .nav {
    float: left;
}


a .nav-link {
    display: block;
    padding-right: 1.75em;

}

