body {
    background-color: #fff9ea;
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

#main {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    margin: 0 auto;
    width: 100%;
}

#home {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    flex-grow: 1;
    margin-bottom: 10rem;
 }
  
.bi {
    color: #C04E01;
    font-size: 1.3rem;
    margin-left: 0.30rem;
}

.bi:hover {
    color:  #631e50;
 }
 
a {
    color: #6a0d83;
}
 

a:hover {
    color:  #C04E01;
 }
 

.nav-text-color {
    color:#C04E01;
}

@media only screen and (max-width: 480px) {
    #home {
       margin-top: 2em;
       margin-left: 1em;
       margin-right: 1em;
       width: 100%;
     }
    
     body {
        width: 100%;
     }
    
}
