body {
    background-color: #fff9ea;
    height: 100%;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

#main {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25em;
    margin: 0 auto;
    width: 100%;
    flex: 1 0 auto;
    display: inline-block;
}

#home {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3em;
    flex-grow: 1;
    margin-bottom: 5em;
 }
  
.bi {
    color: #C04E01;
    font-size: 1.3em;
    margin-left: 0.30em;
}


.bi:hover {
    color:  #631e50;
 }
 
a {
    color: #631e50;
    text-decoration: none;
}
 

h1, h3 {
    font-family: "Rufina", serif;
}


a:hover {
    color:  #C04E01;

 }
 
.navbar, .nav-link{
    font-family: "Righteous", sans-serif; 
    font-size: 30px;
    display: flex; 
}

@media only screen and (max-width: 500px) {
    ul .nav {
        justify-content: space-between;
        position: fixed;
        padding-left: 0em;
        margin: auto;
        padding: 20px;
        display: flex;
    }
    nav {
        justify-content: space-between;

    }
    .nav-link {
        font-size: .6em;
        flex-direction: row;
      }
    #home {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    }
    .bi {
        font-size: 1em;
    }

      
}

.container-fluid {
    padding-left: 2em;
}

ul .nav {
    float: left;
}


a .nav-link {
    display: block;
    padding-right: 1.75em;
    

}

.nav-link:hover {
    filter: brightness(70%);
}



.home-link {
    color:#C04E01;
    font-weight: bolder;

}

.home-link:hover {
    color:  #631e50;
}
.date {
    line-height: 80%;
    padding-bottom: 0.5em;
}

.description, .education, .awards, .skills {
    list-style-type: square;
}

.name {
    font-family: "Rufina", serif;
    font-size: 5em;
    margin-left: 1em;
}

.apurvamahajan {
    font-family: "DM Sans", sans-serif;
    color:#C04E01;
    font-size: 2em;
}
.subhead {
    font-family: "DM Sans", sans-serif;
    font-size: 2em;
}

.subhead-clip {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5em;
}

.pagetitle {
    font-family: "Castoro", serif;
    font-size: 3.5em;
}



.clip-list li {
    margin: 0.5px; 
}